---
layout: default
title: Salem Elrahal
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span class="date">{{ post.date | date_to_string }}</span><a href="{{ post.url }}"><span class="arrow"> >> </span>{{ post.title }}</a></li>
    {% endfor %}
  </ul>

<h1>Projects</h1>
  <ul class="posts">
    {% for project in site.projects %}
      <li><a href="{{ project.url }}">{{ project.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Labs</h1>
  <ul class="posts">
    {% for lab in site.labs %}
      <li><a href="{{ lab.url }}">{{ lab.title }}</a></li>
    {% endfor %}
  </ul>

<script src="js/app.js" type="text/javascript"></script>

</div>
